 *{
 	margin: 0px;
 	top: 0px;
 }
 body {
 	background-color: black;
 }
.cabecalho{
	width: 1518px;
	height: 223px;
	top: 0px;
background: linear-gradient(90deg, #584ECD 0.91%, rgba(113, 187, 124, 0) 100.91%, rgba(35, 46, 37, 0.127532) 100.91%);
}

.imagens2{

	position: absolute;
    left: 37.89%;
    right: 38.73%;
    top: -1.56%;
    bottom: 78.26%;
   transform: rotate(0.4deg);
    height: 238.6587480540097px;
    width: 336.67192984592884px;
    left: 750px;
    top: 0px;
   border-radius: 0px;
}

.cabecalho2{
	position: absolute;
width: 1920px;
height: 45px;
left: -1px;
top: 223px;
background: #A29E9E;}

.h1 {position: absolute;
height: 33px;
left: 10px;
top: -10px;

font-family: 'Kadwa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 64px;

color: #000000;}


.cabecalho3{
	position: absolute;
	width: 1920px;
	height: 55px;
	left: -1px;
	top: 303px;
	background:#D9D9D9;

}

.h2{
    position: absolute;
 height: 23px;	
left: 10px;
top: -10px;

font-family: 'Kadwa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 64px;
 
color: #000000;
	

}
 .imagem1{
    position: absolute;
    left: 230px;
    margin-top: 380px;
 }

.imagem3{
    position: absolute;
    left: 560px;
    margin-top: 380px;
 }

.imagem4{
    position: absolute;
    left: 870px;
    margin-top: 380px;
} 

.imagem5{
    position: absolute;
    left: 1179px;
    margin-top: 380px;
}  
 
.imagem6{
    position: absolute;
    left: 1480px;
    margin-top: 380px;
}

.cabecalho4{
    position: absolute;
    width: 1907px;
    height: 34px;
    left: 8px;
    top: 570px;
    background: #8D85E9;
}

.h3{
    position: absolute;
    height: 13px;
    top: -17px;
left: 750px;
font-family: 'Kawa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 64px;
  color: #000000;
}

.imagem7{
    position: absolute;
    left: 230px;
    margin-top:650px ;

}

.imagem8{
    position: absolute;
    left:560px ;
    margin-top: 650px;
}

.imagem9{
    position: absolute;
    left: 870px ;
    margin-top: 650px;
}

.imagem10{
    position: absolute;
    left:  1179px;
    margin-top: 650px;
}

.imagem11{
    position: absolute;
    left:1480px;
    margin-top: 650px;
}

.cabecalho5{
    position: absolute;
    width: 1920px;
   height: 45px;
    left: 0px;
    top: 920px;
    background: #989292;
}

.rodape{
    position: absolute;
    width: 800px;
    height: 320;
    left: 140px;
    top: 550px;
    
}

.h5{
    position: absolute;
    width: 500px;
    height: 270´px;
    left: 800px;
    top: 1000px;
    font-size: 22px;

     color:#FDFBFB;
}

.h1:hover {
    color: #571ECA;
}
